/*
 * Fix bug when display [daterangepicker] on model dialog
 */
.daterangepicker {
	z-index: 3000;
}

.span14heightspan5 {
	width: 1100px;
	height:380px;
}


/*------ Style sheet for displaying one item of list object get from DB. Just a simple view */
.divwholeitem {
	margin-bottom:15px;
	clear:both;
}

.divleft {
	float:left;
	margin-left:10px;
}

.divleftspan8 {
	float:left;
	margin-left:10px;
	width:100px;
	border: 1px solid red;
}

.divright {
	border: 1px solid green;
	float:left;
width:200px;
}

.mainitemfont {
	color:#000066;
	font-weight:bold;
	height: 25px;
}

.itemlabelfont {
	font-style:italic;
	color:#000000;
}

.itemvaluefont {
	color:#000033;
}
/*------ END OF Style sheet for displaying one item of list object get from DB. Just a simple view */