<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="JvAppAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/jv/log_files/jv.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%d{dd MMM yyyy HH:mm:ss}] (%F:%M:%L) - %m%n"/>
		</layout>
	</appender>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
	<!-- logger name="vn.jv">
		<level value="DEBUG"/>
		<appender-ref ref="JvAppAppender"/>
	</logger>
	<logger name="org.springframework">
		<level value="DEBUG"/>
		<appender-ref ref="JvAppAppender"/>
	</logger>
	<logger name="org.jboss.logging">
		<level value="DEBUG"/>
		<appender-ref ref="JvAppAppender"/>
	</logger-->
</log4j:configuration>
